<div class="row">
  <div class="col-md-12">
    <h1>Databinding</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p> I use {{nm}} phone</p>
    <p> 10 * 10 = {{ 10 *10 }}</p>
    <p> Date is {{ dt() }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [placeholder]="plc.txt">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert" [class.alert-success]="isAl" role="alert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <input type="button" class="btn btn-primary" value="Event" (click)="tglAlt()" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [(ngModel)]="nm"> {{nm}}
  </div>
</div>
<app-my-card [img]="'https://developer.android.com/_static/images/android/touchicon-180.png'" [ttl]="'Android Professional'" [info]="'Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components.'" (cardClick)="onCardClick($event)"></app-my-card>
